<!-- <form action="{% url 'result' %}" method="post">
  {% csrf_token %}
  <label for="grid_size">Grid Size:</label>
  <input type="number" id="grid_size" name="grid_size" min="1" value="10">
  <br><br>
  <label for="algorithm">Algorithm:</label>
  <select id="algorithm" name="algorithm">
    <option value="nn">Nearest Neighbor</option>
    <option value="two_opt">2-opt</option>
    <option value="christofides">Christofides</option>
  </select>
  <br><br>
  <input type="submit" value="Submit">
</form> -->

<!DOCTYPE html>
<html>
<head>
    <title>Travelling Salesman Problem Solver</title>
</head>
<body>
    <h1>Travelling Salesman Problem Solver</h1>
    <form method="post" action="{% url 'result' %}">
        {% csrf_token %} 
        {{ form.as_p }}
        <button type="submit">Submit</button>
    </form>
</body>
</html>


