.map-container {
  position: absolute;
  top: 0;
  right: 0;
  width: calc(50% - 100px); /* Adjust the width as needed */
  height: 100%;
}

.controls-container {
  position: absolute;
  top: 10px;
  left: 100px;
  display: flex;
  flex-direction: column;
  z-index: 1;
}


.button {
  margin-bottom: 5px;
}

.coordinates-display {
  resize: none;
  width: 250px;
  height: 100px;
}

.print-box {
  position: absolute;
  top: 50px;
  left: 0px; /* Adjust the positioning as needed */
}
